<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hieuho.doankhoapham">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Register_Activity"
            android:parentActivityName=".Activity.Login_Activity" />
        <activity
            android:name=".Activity.Login_Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.Product_Activity"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.hieuho.doankhoapham.Activity.Product_Activity" />

        <activity
            android:name=".Activity.ResetPass"
            android:parentActivityName=".Activity.Login_Activity" />
        <activity android:name=".Activity.NewPass" />
        <activity android:name=".Activity.GetProduct" />
        <activity android:name=".Activity.Search_activity"></activity>
    </application>

</manifest>